:root{
    --primary-color:red;
    --button:black;
    --text:white;
}


div{
    width:70%;
    height: 100px;
    background-color: var(--primary-color);

}
a{
    background-color: var(--button);
    color:var(--text);
    text-decoration: none;
    padding: 10px 5px;
}